<!-- Zoom Controls Component Template -->
<!-- Variables: None (uses global functions updateXZoom, updateYZoom, fitWidth, fitHeight) -->
<div class="zoom-control">
    <label>X-Zoom:</label>
    <input type="range" id="xZoomSlider" class="zoom-slider" min="1" max="500" value="100"
           oninput="updateXZoom(this.value)">
    <span class="zoom-value" id="xZoomValue">100%</span>
    <button onclick="fitWidth()">Fit Width</button>
</div>

<div class="zoom-control">
    <label>Y-Zoom:</label>
    <input type="range" id="yZoomSlider" class="zoom-slider" min="1" max="500" value="100"
           oninput="updateYZoom(this.value)">
    <span class="zoom-value" id="yZoomValue">100%</span>
    <button onclick="fitHeight()">Fit Height</button>
</div>